{% extends 'base.html'%}
{% load staticfiles %}
{% block title %} Хоум пейдж {% endblock %}

{% block style %}

<style>
    /*Эффекты блока 'Что мы используем' */
    #details {
        background-color: white;
        color: white;
        transition: 1.7s;
    }

    #details span {
        color: black;
    }

    #details h2 {
        color: black;
        text-align: left;
    }

    #details:hover {
        color: black;
    }


    #playground {
        background-color: #F0F0F0;
        height: 1024px;
        border-style: solid;
        border-width: 1px;
        border-color: #E7E7E7;
        border-radius: 1%;
    }

    /*
    #tools {
        border: 1px #000 solid;
        padding: 10px;
        font-size: 1.5em;
        cursor: pointer;
        transition: 2s;
        width: 0px;
    }

    #tools:hover {
        width: 300px;
    }
    */
    /*Горизонтальная линия*/
    hr {
      -moz-border-bottom-colors: none;
      -moz-border-image: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: #EEEEEE -moz-use-text-color #FFFFFF;
      border-style: solid none;
      border-width: 1px 0;
      margin: 18px 0;
    }
</style>

{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/scauthapp/home-tools.js' %}"></script>
{% endblock %}

{% block page %}


<div class="col-xs-12 col-sd-3 col-md-3 col-ld-3 " id="details">
    <h2>Что мы используем <span class="glyphicon glyphicon-arrow-down"></span></h2>
    <img src="{% static 'img/bug.jpg' %}" alt="Костыли и Велосипеды!">
</div>
<div class="col-xs-12 col-sd-9 col-md-9 col-ld-9" id="playground">
    <h2>Задачи:</h2>
    <div class="row">
        <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">
            1. Разобраться в в формах.
        </div>
        <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">

            <br><br>
            <div class="row">
                <div class="col-xs-8 col-sd-8 col-md-8 col-ld-8">
                    <h3>Как быть должно :</h3>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          Check me out
                        </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <br><br><br><br>
            <div class="row">
                <div class="">
                    <h3>Как есть:</h3>
                    <form class="test_form" method="post">
                        <label for="name">Имя</label><input type="text" name="name" value="">
                        <label for="surname">Фамилия</label><input type="text" name="surname" value="">
                        <label for="birthdate">Дата рождения</label><input type="text" name="birthdate" value="">
                        <button type="submit" name="submit">Применить</button>
                    </form>
                </div>
            </div>
        </div>
</div><br>
<div class="row">
    <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">
        2. Разобраться в SQLite.
    </div>
    <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">
        Есть идея использовать SQLite для организации request/response в проге для выгрузок. Возможно даже для хранения файлов.
    </div>
</div><br>
<div class="row">
    <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">
        3. Разобраться в AJAX.
    </div>
    <div class="col-xs-12 col-sd-6 col-md-6 col-ld-6">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sd-12 col-md-12 col-ld-12">
        <h2>Задачи на сегодня:</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-ld-12">
            1. Создать страничку личного кабинета.
                <p>1.1 Фотография пользователя.</p>
                <p>1.2 Ник</p>
                <p>1.3 ФИО</p>
        </div>

    </div>
</div>

{% endblock %}
