{% extends 'base.html'%} {% block title %} Хоум пейдж {% endblock %}

{% block style %}

<style>
    /*Эффекты блока 'Что мы используем' */
    #details {
        background-color: white;
        color: white;
        transition: 1.7s;
    }

    #details span {
        color: black;
    }

    #details h2 {
        color: black;
        text-align: left;
    }

    #details:hover {
        color: black;
    }


    #playground {
        background-color: #F0F0F0;
        height: 1024px;
        border-style: solid;
        border-width: 1px;
        border-color: #E7E7E7;
    }

    /*
    #tools {
        border: 1px #000 solid;
        padding: 10px;
        font-size: 1.5em;
        cursor: pointer;
        transition: 2s;
        width: 0px;
    }

    #tools:hover {
        width: 300px;
    }
    */
</style>

{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    //////////////////////////////////////////////////Создаю список из массиваа
    var python = {};
    python.name = 'Python';
    python.modules = ['Django'];


    var javascript = {};
    javascript.name = 'Javacript';
    javascript.modules = ['jQuery', 'Bootstrap', 'D3.js'];

    var html = {};
    html.name = 'HTML';
    html.modules = ['HTML5'];

    var css = {}
    css.name = 'CSS';
    css.modules = ['CSS3'];

    var tools = [python, javascript, html, css]

    var list = $("#details").append('<ul id=\"tools\"></ul>');

    for (var tool = 0; tool < tools.length; tool++) {
        $('#tools').append('<li id=\"'+ tools[tool].name + '\">' + tools[tool].name + '</li>')
            $('#'+tools[tool].name).append('<ul></ul>');

            for (var modul = 0; modul < tools[tool].modules.length; modul++) {
                $('#'+tools[tool].name).find('ul').append('<li>'+tools[tool].modules[modul]+'</li>');
            }
    }

    alert ('jQuery подключен и отлично работает!');

    /*
    //////////////////////////////////////////////////////////////////Дискотека
    d3.select("body").style("background-color", function() {
        return "hsl(" + Math.random() * 360 + ",100%,50%)";
    });

    d3.select("body").style("color", function() {
        return "hsl(" + Math.random() * 360 + ",100%,50%)";
    });
    */

});

  </script>
{% endblock %}

{% block page %}


<div class="col-xs-12 col-sd-3 col-md-3 col-ld-3 " id="details">
    <h2>Что мы используем <span class="glyphicon glyphicon-arrow-down"></span></h2>
</div>
<div class="col-xs-12 col-sd-9 col-md-9 col-ld-9" id="playground">
    <form class="test_form" method="post">

    </form>
</div>

{% endblock %}
