{% extends 'base.html'%}
{% block title %} Работа с запросами - детали {% endblock %}

{% block scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
$( function() {
    $( "#start_date" ).datepicker();
    $( "#end_date" ).datepicker();
    alert(q_object.name)
});
</script>
{% endblock %}

{% block page %}

<h2>Заполните поля формы.</h2>
<form id="q_form" method="POST">

    {% csrf_token %}

    {% if name  %}
        <label for="name">{{name}}</label>
        <input type="text" name="name" value="{{name}}" hidden="hidden">
        <input type="text" name="q_number" value="{{number}}" hidden="hidden">
        <input type="text" name="q_type" value="{{q_type}}" hidden="hidden">
    {% endif %}

    {% if  q_type != 0 %}
        <p>Начальная дата: <input name="startdate" type="text" id="start_date"></p>
        <p>Конечная дата: <input name="enddate" type="text" id="end_date"></p>
    {% endif %}

    {% if q_name and q_number and q_total_time %}
        <h2>Ваш запрос принят. Через xx:xx проверьте электронную почту.</h2>
    {% endif %}
    <button type="submit">Выполнить запрос</button>
</form>

{% endblock%}
