{% extends 'base.html'%}
{% block title %} Работа с запросами {% endblock %}

{% block page %}

<div class="container">
  <h2>Самые горячие "запросы" только здесь!</h2>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">НАЖИМАЙ И ВЫБИРАЙ!
  <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for q_name in objects %}
      <li><a href="workspace/query/detail/1">{{ q_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock%}
