{% extends 'base.html'%}
{% block title %} Работа с запросами {% endblock %}

{% block page %}

<div class="container">
  <h2>Самые горячие "запросы" только здесь!</h2>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">НАЖИМАЙ И ВЫБИРАЙ!
  <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for object in objects %}
          {% with object.number as q_id %}
          <li><a href="{% url 'workspace-query-detail' q_id %}">{{ object.name }}</a></li>
          {% endwith %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock%}
