{% extends 'base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/rating/home-style.css' %}">
{% endblock %}

{% block title %} Рейтинг {% endblock %}

{% block page %}

<div class="col-xs-12 col-sd-12 col-md-12 col-ld-12">
    <h2>Рейтинг</h2>
    <div class="row">

        <div class="col-xs-12 col-sd-12 col-md-12 col-ld-12" id="content">
            Какой то текст<br>
            Много какогото текста
        </div>
    </div>
</div>

{% endblock %}
